
body {
  font-family: 'HCR Batang medium', 'Nanum Gothic semi-bold','Malgun Gothic semi-bold';         
  
  #intro #animated-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000; /* You can customize the border style */
    }
} 
.marquee-container {
  font-family: 'HCR Batang medium', 'Nanum Gothic semi-bold','Malgun Gothic semi-bold';         
  overflow: hidden;
  height: 500px; /* Set a fixed height for the container */
  position: relative;
}
.marquee-content {
  font-family: 'HCR Batang medium', 'Nanum Gothic semi-bold','Malgun Gothic semi-bold';         
  
  position: absolute;
  line-height: 2.5; /* Adjust the value as needed for the desired spacing */
  animation: marqueeAnimation 45s linear 1; /* Adjust the duration as needed */
}

@keyframes marqueeAnimation {
  from {
      top: 100%;
  }
  to {
      top: -100%; /* Adjust the value based on the height of your content */
  }
}
.marquee-content.paused {
  animation-play-state: paused;
}

.corner-image {
  position: fixed;
  width: 25%; /* Adjust the size as needed */
  height: 25%; /* Adjust the size as needed */
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}


